
<table>
	<th>
		Email:
	</th>
	<th>
		Confirmation status:
	</th>
		<th>
		Confirmation time:
	</th>
	<%@users.each do |user|%>
	<%@msgl = MessageList.find_by(users_id: user.id, messages_id: @message.id) %>
	<tr>
		<td>
			<%=user.email%>
		</td>
		<td>
			<%= @msgl.confirmed_recall%>
		</td>
		<td>
			<%= @msgl.confirmed_time%>
		</td>

	</tr>
	<%end%>
	
</table>
<%= button_to "Home", authenticated_root_path, :method => :get %>
