<% absences = Attendance.where(user_id: @user.id, event: @event.event_name).count%>
<h2>You have reached a tardy limit and have incurred an absence.</h2>
<h2>You have <%= absences%>/<%= @event.absence_max%> allowed absences</h2>
