<% absences = Attendance.where(user_id: @user.id, event: @event.event_name, :absent => true).count%>
<h2>Tardy absence have been removed</h2>
<h2>You now have <%= absences%>/<%= @event.absence_max%> allowed absences</h2>


