<!DOCTYPE html>



<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The message is as follows:<br>
    </p>
    <p>
      <%=@msg.messages%>
    </p>
    <p>
    	This message requires confirmation. Please follow the link to confirm you have read the message:
    	<%= message_confirmation_url(@user.messageconfirmtoken) %>
    </p>
    
    <p>Thank you, and have a good day!</p>
  </body>
</html>


