<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The message is as follows:<br>
    </p>
    <p>
      <%=@msg.messages%>
    </p>
    <p>Thank you, and have a good day!</p>
  </body>
</html>