<% tardies = Attendance.where(user_id: @user.id, event: @event.event_name, :tardy => true).count%>
<% mod = tardies.to_i % @event.max_tardies.to_i%>
<h2>You have <%= mod%>/<%= @event.max_tardies%> tardies</h2>

