</br>
<br>
<br>

<body class="bs-docs-masthead" id="content" role="main">
	<div class="container">
		<h1>Welcome to ATARI</h1>
		<h2>Attendance Tracker And Recall Interface</h2>
		<!-- <h1>Bootstrap</h1> -->
		<p id="action" class="lead">
			<a href="#modal-form" class="btn btn-primary btn-lg"data-toggle="modal">Sign In</a>
	</div>
</body>

<%= render :partial => 'new' %>
