</br>
<br>
<br>
<div class="panel panel-primary">
	<div class="panel-body">
<body id="content" role="main">
	<div class="container">
		<h1>Welcome to ATARI</h1>
		<h2>Attendance Tracker And Recall Interface</h2>
		<!-- <h1>Bootstrap</h1> -->
		<p id="action" class="lead">
			<a href="#newsessionmodal-form" class="btn btn-primary btn-lg custombtnblock"data-toggle="modal">Start</a>	
		</p>			
</body>
</div>
</div>
<%= render :partial => 'new' %>
<%= Time.now.strftime("%D")%>

