<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Excused Users</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>

				<th>Group Name</th>

			</thead>
			<tbody>

				<tr>
					<td></td>

				</tr>

			</tbody>
		</table>
		<%= link_to 'Add new Excused Users', new_excused_users_path, :class => 'btn btn-primary' %>
	</div>
</div>

